@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Role_Based_Product_Management.Controllers.LoginViewModel
@{
    ViewData["Title"] = "Login"; Layout = "_Layout";
}
<h3>Login</h3>
<form asp-action="Login" method="post" class="card p-3">
    <div class="mb-2">
        <label class="form-label">Username</label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="mb-2">
        <label class="form-label">Password</label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-check mb-3">
        <input asp-for="RememberMe" class="form-check-input" />
        <label class="form-check-label" asp-for="RememberMe">Remember me</label>
    </div>
    <button class="btn btn-primary">Login</button>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

